$aGrad: linear-gradient(red,brown); 
$rGrad: linear-gradient(rgb(4, 78, 143),rgb(238, 142, 248)); 
$sGrad: linear-gradient(rgb(10, 225, 189),rgb(243, 152, 15));
$eGrad: linear-gradient(rgb(174, 46, 46), rgb(3, 129, 58));
$nGrad: linear-gradient(rgb(249, 89, 164),rgb(241, 247, 202)); 
$lGrad: linear-gradient(rgb(120, 56, 1),rgb(174, 171, 171)); 